/* FORGET ABOUT YOUR NATIVE STYLES PLS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #190933;
    /*FONTs*/
    font-family: DM Sans;
    font-size: 16px;
    color: white;
}


/* TEXT */

h1,h2,h3,h4,h5,h6{
    font-family: Montserrat;
    margin: 0;
}


/* PANELS */

.panel {
    position: sticky;
    align-items: center;
    background-color: #190933;
    transition: ease 300ms;
}

.panel-top {
    top: 0;
    padding-top: calc(16px + env(safe-area-inset-top));
    padding: 32px 32px 16px 32px;
    border-bottom: 1px solid #D3C1EB40;
}

.panel-bottom {
    bottom: 0;
    padding: 16px 32px 32px 32px;
    border-top: 1px solid #D3C1EB40;
    display: flex;
    gap: 8px;
}


/* BUTTONs */

.button {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 99px;
    border: 2px solid #8C63D2;
    padding: 16px;
    cursor: pointer;
    transition: ease 75ms;
    user-select: none;
    /* FONT */
    font-size: inherit;
    font-weight: 600;
}

.button-primary {
    flex: 1;
    background-color: #BB97F8;
    color: black;
}

.button-secondary {
    width: fit-content;
    background-color: transparent;
}

.button-tertiary {
    padding: 8px;
    background: transparent;
    border: none;
}

@media (hover:hover) and (pointer:fine) {
    button:hover {
        opacity: 50%;
    }
}

button:active {
    opacity: 50%;
    transform: scale(0.95);
}

@media (hover:hover) and (pointer:fine) {
    .button-tertiary:hover {
        background-color: #D3C1EB40;
        transform: scale(1.2);
    }
}

.button-tertiary:active {
    background-color: #D3C1EB40;
    transform: scale(0.95);
}

/* TASK */

#inputTaskNew {
    display: none;
    resize: none;
    flex: 1;
    border-radius: 99px;
    padding: 16px;
    background: transparent;
    border: 2px dashed;
    border-color:#8C63D2;
    font: inherit;
    color: white;
}

#inputTaskNew:focus {
    border: 2px solid #8C63D2;
    background-image: none;
    outline: none;
}

.task-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 32px 32px 32px;
}

.task {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 8px;
    align-items: center;
    border-bottom: 1px solid #D3C1EB40;
}

.task-text {
    flex: 1;
}


/* TASK STATE */

.task-new {
    padding: 16px;
    border-radius: 16px;
}

.task-done {
    color: #ffffff80;
}


/* CHECKBOX */

#labelCheckbox {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: ease 150ms;
}

#labelCheckbox:hover {
    opacity: 50%;
    transform: scale(1.2);
}

#labelCheckbox:active {
    transform: scale(0.9);
}

.task-checkbox {
    display: none;
}

.checkbox-icon.done {
    display: none;
}

.task-checkbox:checked ~ .checkbox-icon.todo {
    display: none;
}

.task-checkbox:checked ~ .checkbox-icon.done {
    display: block;
}