body {
    height: 100dvh;
    margin: 0;
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: #190933;
    /*FONTs*/
    font-family: DM Sans;
    font-size: 16px;
    color: white;
}


/* TEXT */

h1,h2,h3,h4,h5,h6{
    font-family: Montserrat;
    margin: 0;
}


/* PANELS */

.panel {
    padding: 0 0 16px 0;
    background-color: #190933;
    border-bottom: 1px solid #D3C1EB40;
}


/* TASK */

.content {
    flex: 1;   
}

.task {
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 8px;
}

.task-text {
    flex: 1;
}


/* TASK STATE */

.task-new {
    padding: 16px;
    border-radius: 16px;
}

.task-done {
    color: #ffffff80;
}


/* CHECKBOX STATE */

.task-checkbox {
    display: none;
}

.checkbox-icon.done {
    display: none;
}

.task-checkbox:checked ~ .checkbox-icon.todo {
    display: none;
}

.task-checkbox:checked ~ .checkbox-icon.done {
    display: block;
}
